@font-face {
    font-family: 'ARCADECLASSIC';
    src: url('../fonts/ARCADECLASSIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilo para el body */
body {
    position: relative;
    font-family: 'ARCADECLASSIC';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Contenedor principal para ocupar el espacio restante */
.main-content {
    flex-grow: 1;
}

/* Footer fijo al final */
#footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: hsl(36, 100%, 57%);
    color: #fff;
    font-size: 20px;
    margin-top: auto;
}

/* Estilo para el formulario */
.form-container {
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border: 5px solid #fff;
    width: 90%; /* Más adaptable */
    max-width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Margen para cada grupo del formulario */
.form-group {
    margin: 10px;
}

/* Definición de animación */
@keyframes moverIzqADerecha {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

/* Contenedor grid de tarjetas */
.grid-container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajuste automático */
    gap: 40px;
    padding: 40px;
    justify-items: center;
}

.card {
    margin-top: 20px;
    border-color: black;
}

.card-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo de botones */
.btn-comprar {
    background-color: green;
    color: white;
    border: none;
}

.btn-carrito {
    background-color: blue;
    color: white;
    border: none;
}

/* Título animado */
.tituloH1 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 65px;
    animation: moverIzqADerecha 4s ease-in-out forwards;
}

/* Estilos del carrusel */
#carouselExampleIndicators {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 35px;
}

.carousel-caption h4 {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    border: solid 2px #fff;
    color: #fff;
    padding: 5px;
}

/* Flechas del carrusel */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: #555;
}

.carousel-item img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    background-color: #ffffffb1;
    border: solid;
}

/* Fondo del body */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

/* Navbar */
#navbar {
    font-family: 'ARCADECLASSIC';
    width: 100%;
    background-color: hsl(36, 100%, 57%);
    padding: 10px 0;
}

#navbar .nav-item {
    border: 2px solid white;
    border-radius: 10px;
    margin: 7px;
}

#navbar .nav-link:hover {
    background-color: hwb(203 53% 1%);
    border-radius: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .tituloH1 {
        font-size: 35px;
    }
    #carouselExampleIndicators {
        width: 90%;
    }
    .grid-container-cards {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .grid-container-cards {
        padding: 10px;
    }
    #navbar {
        padding: 5px 0;
    }
    .form-container {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* Contenedor para las imágenes de error */
.image-container {
    background-image: url('../images/error_img.png');
    width: 100%;
    height: 400px; /* Ajusta el tamaño según necesites */
    background-size: cover;
    background-position: center;
}

/* Estilo de las imágenes */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
