
@font-face {
    font-family: 'ARCADECLASSIC';
    src: url('../fonts/ARCADECLASSIC.TTF') format('truetype'); /* Varios formatos para mejor compatibilidad */
    font-weight: normal;
    font-style: normal;
}


/* Modificar el body para usar flexbox */
body {
    position: relative;
    font-family: 'ARCADECLASSIC'; /* Fuente personalizada */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
}

/* Contenedor principal que debe ocupar el espacio restante */
.main-content {
    flex-grow: 1; /* Ocupa el espacio restante disponible */
}

/* El footer siempre estará al final */
#footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; /* Centra el texto en el pie de página */
    padding: 10px; /* Agrega relleno para separar el contenido */
    background-color: hsl(36, 100%, 57%); /* Fondo naranja oscuro */
    color: rgb(255, 255, 255); /* Color de texto */
    font-size: 20px;
    margin-top: auto; /* Asegura que el footer se mantenga al final */

    
}

.form-container {
   
    margin:auto; /* Centra el formulario horizontalmente */
    text-align: center;
    padding: 20px; /* Agrega relleno al formulario */
    border-radius: 10px; /* Bordes redondeados */
    background-color: hsl(0, 0%, 0%); /* Fondo naranja oscuro */
    color: rgb(255, 255, 255); /* Color de texto */
    font-size: 20px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    width: 50%; /* Ancho del formulario */
    margin-top: 50px; /* Margen superior */
    margin-bottom: 50px; /* Margen inferior */


}
.form-group{
    margin: 10px; /* Margen entre los elementos del formulario */
}


    




/* Define la animación */
@keyframes moverIzqADerecha {
    0% {
        transform: translateX(-100%); /* Comienza fuera de la pantalla a la izquierda */
    }
    50% {
        transform: translateX(0); /* Llega a la posición original (en el centro) */
    }
    100% {
        transform: translateX(0); /* Se detiene en el centro */
    }
}


.grid-container-cards {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Configura dos columnas de ancho igual */
    grid-gap: 10px;
    padding: 80px;
    justify-items: center; /* Centrar las tarjetas horizontalmente */
   
}

.card {
    margin-top: 20px; /* Margen superior */


    border-color: black;
}
.card-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}	
/* Estilo personalizado para el botón "Comprar" */
.btn-comprar {
    background-color: green;
    color: white;
    border: none;
}

/* Estilo personalizado para el botón "Agregar al carrito" */
.btn-carrito {
    background-color: blue;
    color: white;
    border: none;
}

/* Aplicar la animación al título */
.tituloH1 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 65px;
    animation: moverIzqADerecha 4s ease-in-out forwards; /* 3 segundos, curva suave, se detiene al final */
}

#carouselExampleIndicators {
    width: 45%; /* Define el ancho del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    margin-top: 35px; /* Margen superior */



}
.carousel-caption d-none d-md-block, h4{
    width: 90%; /* Ajusta el ancho del texto */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    background-color: #000000ac;   ;
    font-size: 30px;
    border-style: solid;

}

/* Cambiar color de las flechas */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #000000; /* Cambiar a blanco o el color que prefieras */
    width: 35px; /* Tamaño de las flechas */
    height: 35px; /* Tamaño de las flechas */
    border-radius: 50%; /* Forma circular */
}

/* Cambiar color de las flechas al pasar el ratón */
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: #555555; /* Gris oscuro cuando pasa el ratón */
}



.carousel-item img {
    width: 100%; /* Hace que las imágenes ocupen el 100% del ancho del contenedor */
    height: 350px; /* Ajusta la altura de las imágenes a un valor fijo */
    object-fit: contain; /* Ajusta la imagen al contenedor */
    background-color: #ffffffb1; /* Color de fondo */

    border-style: solid;

    
}

body::before {
    
    content: ""; /* Requiere un contenido vacío */
    position: absolute; /* Posiciona el pseudo-elemento */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/background1.jpg'); /* Imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    opacity: 0.5; /* Aplica la opacidad solo al fondo */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}

#navbar {
    font-family: 'ARCADECLASSIC'; /* Fuente personalizada para el navbar */
    width: 100%; /* Asegura que el navbar ocupe el 100% del ancho */
    background-color: hsl(36, 100%, 57%); /* Fondo naranja oscuro */
    
}


#navbar .nav-item{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    margin: 7px;


}

/* Estilos para los enlaces del navbar al hacer hover */
#navbar .nav-link:hover {
    background-color: hwb(203 53% 1%); /* Fondo naranja oscuro */
    border-radius: 10px;

   
}